@{
    ViewData["Title"] = "Company's Description";
}

<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Testimonial</h1>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h6 class="section-title bg-white text-center text-primary px-3">Our Partner</h6>
            <h1 class="mb-5">Come join them!</h1>
            <h5>More than thousands of subscribers from companies, SoE, Government, reputable universities, and top-tier law firms count on Juristique Pro as their compliance partner. </h5>
            <br />
        </div>
        <div class="owl-carousel testimonial-carousel position-relative">
            <div class="testimonial-item text-center">
                <img class=" " src="~/img/logo-citi.webp" style="width: 120px; height: 100px;">
                <br /><br />
                <h5 class="mb-0">Client Name</h5>
                <p>Profession</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">
                        “In a dynamic country like Indonesia, it is important to keep up with the rapid developments of laws and regulations. Thanks to Juristique, I and my team manage to stay on top of the Company's areas of interest which, ultimately, helps our management to make strategic decisions and stay ahead in the challenging industry that we are in.”
                    </p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class=" " src="~/img/logo-gojek-new.webp" style="width: 120px; height: 80px;">
                <br /><br />
                <h5 class="mb-0">Client Name</h5>

                <p>Profession</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">""Keeps our legal team alert and up to date with all of the new regulations. Moreover, through the available legal analysis, it is now easier for us to map the legal aspects that specifically relate to our company, thus making us more efficient in our research.</p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class=" " src="~/img/logo-telkom.webp" style="width: 120px; height: 100px;">
                <br /><br />
                <h5 class="mb-0">Client Name</h5>
                <p>Profession</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">
                        "In order to achieve the quality we aim for, we manage to tailor our service by relying to the best sources and Juristique is one of the best companies to count on in looking for the updates and references on Indonesia’s legal developments.”

                    </p>
                </div>
            </div>
            <div class="testimonial-item text-center">
                <img class=" " src="~/img/mandiri.webp" style="width: 120px; height: 80px;">
                <br /><br />
                <h5 class="mb-0">Client Name</h5>
                <p>Profession</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">In Indonesia, there’s only one name for reliable, high quality and up-to-date legal updates and tool for research: “Juristique”</p>
                </div>
            </div>
        </div>
        <div class="m-100 row g-4 justify-content-center py-3 px-4">
            <a class="btn btn-primary position-relative bt-sn" href="">Join Now!</a>
        </div>
    </div>
</div>
<!-- Testimonial End -->

<div class="container-xxl py-5"> </div>