@{
    ViewData["Title"] = "Company's Description";
}


<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Company's Description</h1>
                @*<nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">About</li>
                        </ol>
                    </nav>*@
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="~/img/about_office.png" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                <h1 class="mb-4">Welcome to Juristique</h1>
                <p class="mb-4"> <b> JURISTIQUE </b> is a reg-tech company that provides the most complete, integrated and trusted legal products and services.</p>
                <p class="mb-4">

                    <b> JURISTIQUE </b> was established by a group of reputable legal observers at the beginning of Indonesia's reform era. The company was set-up in order to educate and enlighten the public about Indonesia's legal world. Over the years, Juristique has become the country's most complete, integrated, and trusted provider of legal products and services.
                </p>

                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Business</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Human Rights</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Legal Issues</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Civil</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Technology</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Criminal</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
            <h6 class="section-title bg-white text-start text-primary pe-3">Benefit</h6>
            <h1 class="mb-4">Benefit Of Subscription</h1>
            <div class="row g-4">
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                            <h5 class="mb-3">Providing Ease in Understanding the Rules</h5>
                            <p>To get a complete understanding, each study is equipped with related regulations and links that are integrated with the Data Center for laws and regulations</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                            <h5 class="mb-3">Helping Decision Makers Set Policy</h5>
                            <p>Through studies, elaboration and reviews of the latest laws and regulations that are sent every day, decision makers in companies have benchmarks, indicators, and standards to implement policies</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-home text-primary mb-4"></i>
                            <h5 class="mb-3">Efficiency & Effectiveness</h5>
                            <p>DLegislation reviews are mixed by a team of expert analysts and researchers who are experienced and have a legal background, helping you save time and money doing legal research.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                            <h5 class="mb-3">Improving Legal Compliance</h5>
                            <p>The study of laws and regulations provides discourse and knowledge that increases company law compliance and minimizes risks, whether civil, criminal or administrative.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Service End -->
<!-- About II Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">

            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                <h1 class="mb-4">Our Client</h1>
                <p class="mb-4">
                    <b>To date, we have thousands of clients, including companies, well-known law firms and government agencies, with exclusive services such as:</b>

                <div class="col-sm-6">
                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Access to the largest database of laws and court decisions in Indonesia;</p>
                </div><br />

                <div class="col-sm-6">
                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Subscribe to a concise and concise analysis of the latest regulations, presented in English and Indonesian;</p>
                </div><br />

                <div class="col-sm-6">
                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Holding seminars, training and discussions on the latest legal issues;</p>
                </div><br />

                <div class="col-sm-6">
                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Provision of a platform for technology-based document management solutions and legal compliance systems;</p>
                </div><br />

                <div class="col-sm-6">
                    <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Promotional media and publications for the dissemination of policies and/or laws and regulations issued by the government.</p>
                </div>

            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="~/img/about2.png" alt="" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<div class="container-xxl py-5"> </div>